body{
    background-color: rgb(25, 91, 177);
    font: normal 20px Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    
    padding: 15px;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

div{
    text-align: center;
    padding: 5px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}